// Navigation


.nav-logo {
  transition: opacity .2s $ease-in-out-custom;
  #logo{
    width: 98px;
    height: auto;
    display: block;
    path{
      fill:#000;
    }
  }
}
.home #logo{
  path{
    fill:#fff;
  }
}


.site-nav {

  font-size: 18px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform .3s, background-color .2s ;
  transform: translateY(0);

  @include media-breakpoint-up(sm){
    font-size: 12px;
     display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include media-breakpoint-up(md){
    padding-top: 30px;
    padding-bottom: 34px;
  }
  @include media-breakpoint-up(lg){
    font-size: 14px;
    padding-top: 40px;
  }
  &.mobile-nav-active{
    #logo{
      path{
        fill:#fff !important;
      }
    }
  }

  &.hasScrolled:not(.dark){
    position: fixed;

    &.light{
      background-color: #EDEDED;
      #logo{
        path{
          fill:#000;
        }
      }
    }


    & + #menu-toggle+label div{
      background-color: #000;
    }
    &.mobile-nav-active{
      #logo{
        path{
          fill:#000;
        }
      }
     & +#menu-toggle+label div{
       background-color: #fff;
     }
      a{
        color: #fff;
        &:before {
          background: #fff;
        }
        &:after{
          background-color: #fff;
        }
        &:hover {
          opacity: 1;
          &:before {
            background: #fff;
          }
        }
      }
    }

    a{
      color: #000;
      &:before {
        background: #000;
      }
      &:after{
        background-color: #000;
      }
      &:hover {
        opacity: 1;
        &:before {
          background: #000;
        }
      }
    }

  }

  nav {

    ul{
      margin: 0;
    }
    li{
      display: inline-block;
      margin-left: 45px;
      &.current-menu-item{
        a:before{
          width: 100%;
        }
      }

      a {
        position: relative;
        color: #fff;
        padding-bottom: 10px;
        &:before,
        &:after {
          content: '';
          display:block;
          position: absolute;
          bottom: 0;
          height: 1px;
          width: 0;
          background-color: #fff;
        }
        &:before {
          left: 0;
          transition: width 0s ease;
        }
        &:after {
          right: 0;
          transition: width .35s ease;
        }
        &:hover {
          opacity: 1;
          &:before {
            width: 100%;
            background: #fff;
            transition: width .35s ease;
          }
          &:after {
            width: 100%;
            background: transparent;
            transition: all 0s ease;
          }
        }
      }
    }
  }



  @include media-breakpoint-down(sm){
    nav{
      background: #000;
      position: absolute;
      transform: translateX(0);
      transition: transform .2s $ease-in-out-custom;
      left: 100%;
      height: 100vh;
      top: 0;
      width: 100%;
      z-index: -1;
      li{
        display: block;
        margin-bottom: 20px;
        margin-left: 0;
        a{
          font-size: 18px;
          padding-bottom: 5px;
        }
      }

      ul{
        margin-top: 110px;
        margin-left: 20px;
      }
    }
  }

  &.mobile-nav-active{
    @include media-breakpoint-down(sm){
      nav{
        transform: translateX(-100%);
      }
    }
  }

}

.page-template-page-contact {

  #logo{
    path{
      fill: #fff;
    }
  }

  @include media-breakpoint-up(lg){
    nav li {
      a{
        color: #000;
        &:before,
        &:after {
          background-color: #000;
        }
        &:hover {
          &:before {
            background: #000;
          }
        }
      }
    }

  }
}



.page-template-page-news-php, .single-post {
  #logo{
    path{
      fill: #000;
    }
  }
  @include media-breakpoint-up(md){
    nav li {
      a{
        color: #000;
        &:before,
        &:after {
          background-color: #000;
        }
        &:hover {
          &:before {
            background: #000;
          }
        }
      }
    }
  }
}



/* Hamburger button -------------------------------------------------------*/
#menu-toggle{
  display: none;

  & + label {

      @include media-breakpoint-up(md){
        display: none;
      }

    position: fixed;
    z-index: 4;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    text-align: left;

    div,
    div:before,
    div:after {
      background: #fff;
      position: absolute;
      height: 1px;
      width: 18px;
      transition: all .3s $ease-in-out-custom;
    }
    div:first-child {
      top: 0px;
    }
    div:nth-child(2) {
      top: 7px;
    }
    div:nth-child(3) {
      top: 14px;
    }
  }
}
#menu-toggle + label {
  div:first-child {
    transition: top .15s .15s, transform .15s;
  }
  div:nth-child(2),
  div:nth-child(3) {
    transition: top .15s .15s, transform .15s;
  }
}
#menu-toggle:checked + label {
  div:first-child {
    top: 6px;
    transform: rotate(45deg);
    transition: top .15s, transform .15s .15s;
  }
  div:nth-child(2),
  div:nth-child(3) {
    top: 6px;
    transform: rotate(-45deg);
    transition: top .15s, transform .15s .15s;
  }
}

.dark {
  #logo{
    path{
      fill: #fff;
    }
  }
}


// fixed WP logged in
.admin-bar{
  .site-nav{
    @include media-breakpoint-up(md){
      padding-top: 60px;
    }
  }
}
