html, body, div, span, applet, object, iframe,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
input,
button, textarea {
  outline: none;
  background: transparent;
  appearance: none  !important;
  -webkit-appearance: none !important;
  box-shadow: none;
  border: none;
  border-radius: 0;
  width: 100%;
  max-width: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
input::placeholder {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote,
dl, dt, dd, ol, ul, li{
  padding: 0;
  border: 0;
  vertical-align: baseline;

}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

html {
    margin: 0 !important;
}

.mh-100{
  min-height: calc(100vh - 310px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}