.grecaptcha-badge {
  display: none;
}

.hidden {
  display: none;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

html {
  font-size: 8px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}
.post-type-archive-portfolio {
  background-color: $brand-dark;
}

body {
  font-family: $body-font;
  line-height: 1.6;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  position: relative;

  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 1.9em;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 24px;
  // }
}
.archive {
  padding-top: 127px;
  @include media-breakpoint-up(md) {
    padding-top: 113px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 150px;
  }

  main {
    min-height: 100vh;
    padding-bottom: 1px;
  }
}
.post-type-archive-team {
  background: $brand-dark;
  padding-top: 90px;
}

.page-template-page-media .site-nav.light nav li a {
  color: $brand-dark;
  &:before {
    background-color: $brand-dark;
  }
}

.dark {
  background: $brand-dark;
  color: #fff;
  p {
    opacity: 0.6;
  }
  .logo-sm {
    path {
      fill: #fff;
    }
  }
}
.bg-light {
  background-color: $brand-light;
}
.bg-lighter {
  background-color: $brand-lighter;
}

.container {
  max-width: 1600px;
  width: 50%;
  min-width: 1024px;
}
.container-fluid .no-gutters {
  margin-left: -20px;
  margin-right: -20px;

  @include media-breakpoint-up(md) {
    margin-left: -30px;
    margin-right: -30px;
  }
  @include media-breakpoint-up(lg) {
    margin-left: -50px;
    margin-right: -50px;
  }
  @include media-breakpoint-up(xl) {
    margin-left: -82px;
    margin-right: -82px;
  }
}
.container,
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;

  @include media-breakpoint-up(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 82px;
    padding-right: 82px;
  }
}

.no-gutters-padding {
  padding: 20px;
  & > * {
    max-width: 92%;
  }

  @include media-breakpoint-up(md) {
    padding: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding: 60px 50px;
  }
  @include media-breakpoint-up(xl) {
    padding: 100px 80px;
  }
}
.img-inverse-row {
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }
}

.text-editor {
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  a {
    font-size: 14px;
  }
}

a,
button {
  transition: 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

.pill {
  display: inline-block;
  padding: 3px 30px;
  border: 1px solid;
  border-radius: 2em;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
  line-height: 1.9;
  &:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
    opacity: 1;
  }
}
.pill-light {
  color: #fff;
  border-color: #fff;
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 4;
  background-image: url("../../assets/img/poster.jpg");
  background-size: cover;
  background-position: center center;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 80vw;
  }
}

#home-hero {
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
  #lottie {
    width: 100px !important;
    height: 120px !important;
    z-index: 2;
    @include media-breakpoint-down(sm) {
      width: 66px !important;
      height: 79px !important;
    }
    svg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      position: relative;
      width: 900px !important;
      height: 900px !important;
      @include media-breakpoint-down(sm) {
        width: 600px !important;
        height: 600px !important;
      }
    }
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 18px;
    margin-top: 0px;
    padding: 3px 30px 5px 30px;
    width: fit-content;
    cursor: pointer;
    line-height: 1.9em;
    color: #000;
    background-color: #fff;
    border-color: #fff;
    &:hover {
      color: #fff;
      border-color: #fff;
      background-color: rgba(255, 255, 255, 0) !important;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    @include media-breakpoint-up(md) {
      padding: 30px;
    }
    @include media-breakpoint-up(lg) {
      padding: 50px;
    }
  }

  .quote {
    max-width: 250px;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    @include media-breakpoint-up(md) {
      padding-top: 30px !important;
      max-width: 350px !important;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 50px !important;
      max-width: 500px !important;
    }
  }

  .arrow-down {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    width: 50px;
    display: block;
    @include media-breakpoint-down(md) {
      width: 35px;
    }
    @include media-breakpoint-up(md) {
      bottom: 30px;
      right: 30px;
    }
    @include media-breakpoint-up(lg) {
      bottom: 50px;
      right: 50px;
    }
    img {
      width: 100%;
      display: block;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 3;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      top: 30px;
      right: 30px;
    }
    @include media-breakpoint-up(lg) {
      top: 50px;
      right: 50px;
    }
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-open .modal {
    padding: 0 !important;
  }
  .modal-content {
    background-color: transparent;
    aspect-ratio: 16/9;
    border: none;
    height: 100%;
    max-width: 1400px;
    margin: auto;
    .plyr__video-embed.player,
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .home-video {
    .modal-dialog {
      min-width: 100%;
      height: 100%;
      margin: 0px !important;
      padding: 20px !important;
      @include media-breakpoint-up(md) {
        padding: 30px !important;
      }
      @include media-breakpoint-up(lg) {
        padding: 50px !important;
      }
    }
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* Footer ----------------------------------------------------------------*/

footer {
  font-size: 14px;

  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  background: $brand-dark;
  color: #fff;
  .logo-lg {
    height: 30px;
  }
  .logo-sm {
    width: 80px;
    height: auto;
    @include media-breakpoint-up(lg) {
      width: 100px;
    }
  }
  ul a {
    @include media-breakpoint-up(sm) {
      margin-left: 25px;
    }
    @include media-breakpoint-up(xl) {
      margin-left: 45px;
    }

    display: inline-block;
    @include media-breakpoint-down(sm) {
      display: table;
      margin-left: 0;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
  .footer-bottom {
    margin-top: 1rem;
    @include media-breakpoint-only(md) {
      margin-top: 75px;
    }
  }
  .footer-nav-container {
    @include media-breakpoint-down(sm) {
      margin-top: 65px;
      margin-bottom: 65px;
    }
  }
  ul {
    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
    }

    margin: 0;
    @include media-breakpoint-down(lg) {
      text-align: right;
    }
    @include media-breakpoint-down(sm) {
      text-align: left;
    }

    li {
      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
  }

  #mc_embed_signup {
    position: relative;
    width: 100%;
    .mce-responses {
      position: absolute;
      width: 100%;
      margin-top: 10px;
    }
    form {
      width: 370px;
      max-width: 100%;
      .mc-field-group {
        border-bottom: 1px solid #fff;
        padding: 0.5rem 0;
      }
      input {
        padding: 0;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $brand-dark inset !important;
      }
      /*Change text in autofill textbox*/
      input:-webkit-autofill {
        -webkit-text-fill-color: #fff !important;
      }
      button {
        width: auto;
        white-space: nowrap;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}

.home footer {
  background: #fff;
  color: #000;
  .logo-sm path {
    fill: #000;
  }
  #mc_embed_signup form .mc-field-group {
    border-bottom: 1px solid #000;
  }
  .logo-lg {
    path {
      fill: #121212;
    }
  }
  #mc_embed_signup form {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    }
    /*Change text in autofill textbox*/
    input:-webkit-autofill {
      -webkit-text-fill-color: #000 !important;
    }
  }
}

#mc_embed_signup div.mce_inline_error {
  margin: 14px 0 0 0 !important;
  padding: 5px 0 !important;
  background-color: transparent !important;
  font-weight: normal !important;
  z-index: 1;
  color: #b15858 !important;
  position: absolute !important;
}
.mce-responses {
  margin-top: 5px;
}

.popup {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #00000047;
  right: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 3;
  transform: translateY(100%);
  transition: 0.7s transform $ease-in-out-custom;
  &.active {
    transform: translateY(0);
  }

  .mc-field-group {
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    button[type="submit"] {
      width: auto;
    }
  }

  padding: 15px 0 30px;
  @include media-breakpoint-up(md) {
    padding: 34px 0 37px;
  }
  @include media-breakpoint-up(lg) {
    padding: 38px 0 40px;
  }
  @include media-breakpoint-up(xl) {
    padding: 55px 0 60px;
  }
  .popup-title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      font-size: 40px;
    }
  }
}

.arrow-submit {
  color: #fff;
  position: relative;
  display: block;
  cursor: pointer;

  width: 46px;
  height: 14px;

  @include media-breakpoint-up(md) {
    width: 32px;
  }
  @include media-breakpoint-up(xl) {
    width: 54px;
    height: 25px;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
  }
  &:before {
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 0;
    border-right: 1px solid;
    top: 50%;
    right: 0;
    border-top: 1px solid;

    width: 7px;
    height: 7px;

    @include media-breakpoint-up(xl) {
      width: 14px;
      height: 14px;
    }
  }
  &:after {
    top: 50%;
    right: -1px;
    background-color: #fff;
    transform: translateY(-1px);

    width: 50px;
    height: 1px;

    @include media-breakpoint-up(md) {
      width: 32px;
    }
    @include media-breakpoint-up(xl) {
      width: 54px;
    }
  }
}

.full-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup-close {
  position: relative;
  cursor: pointer;
  padding: 0;

  width: 18px;
  height: 1.5em;

  @include media-breakpoint-up(xl) {
    width: 28px;
    height: 28px;
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }
  &:after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
  }
}
.contact-details {
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 70px;
  }
}
#contact {
  .container {
    height: 100%;
  }
  form {
    p:not(:nth-child(5)):not(:nth-child(7)):not(:nth-child(8)) {
      label {
        border-bottom: 1px solid #d1d1d1;
        display: flex;
        align-items: center;
        input {
          margin-left: 1rem;
        }
      }
    }
    label {
      padding: 0.5rem 0;
      white-space: nowrap;
      margin-bottom: 1.5rem;
      position: relative;
    }
    input {
      font-size: inherit;
      padding: 0;
      color: $brand-medium;
    }
    textarea {
      resize: none;
      border: 1px solid #d1d1d1;
      border-radius: 0;
      width: 100%;
      margin-top: 0.5rem;
      padding: 0.5rem;
      height: 10rem;
      color: $brand-medium;
    }

    input[type="submit"] {
      background: $brand-dark;
      color: #fff;
      border-radius: 2rem;
      width: auto;

      display: block;
      font-size: 14px;
      padding: 2px 40px 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.5;
      }
      @include media-breakpoint-up(lg) {
        margin-left: auto;
      }
    }
    .wpcf7-form-control-wrap {
      position: static !important;
    }
    .wpcf7-response-output {
      color: #46b450 !important;
      font-size: 14px !important;
      border: none !important;
      padding: 0 !important;
    }
    .wpcf7-not-valid-tip {
      position: absolute;
      left: 0;
      font-size: 14px !important;
      margin-top: 0.5rem;
    }
  }
  .wpcf7 form .wpcf7-response-output {
    margin: 0;
  }
  .contact-bg {
    overflow: hidden;
    min-height: 100vh;
    color: #fff;
    height: 41vh;
    min-height: 0;

    @include media-breakpoint-up(md) {
      min-height: 50vh;
    }
    @include media-breakpoint-up(lg) {
      min-height: 100vh;
      height: auto;
    }
    h1 {
      margin-top: 13vh;
      @include media-breakpoint-down(md) {
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
.form-container {
  width: 100%;
  padding: 10px 25px;
  min-height: 59vh;
  align-items: initial !important;

  @include media-breakpoint-up(md) {
    padding: 10px 30px;
  }
  @include media-breakpoint-up(lg) {
    padding: 120px 70px 120px;
  }
  @include media-breakpoint-up(xl) {
    padding: 150px 120px 120px;
  }
  & > div {
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    p {
      margin: 22px 0;
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }
}
.video-wr {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vw;
  height: 100%;
  @include media-breakpoint-up(md) {
    min-height: 50vw;
  }

  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 100%;
    min-height: 50vw;
    @include media-breakpoint-up(md) {
      width: 100vw;
    }
  }
}
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  @include media-breakpoint-only(md) {
    min-height: 0;
  }

  .hero-column {
    .video-wr video {
      height: 100%;
      width: auto;
      min-width: 0;
      min-height: 0;
    }

    .text-editor {
      padding-top: 116px;
      padding-bottom: 100px;
    }
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }
  }
}

.page-template-page-about section:not(.quote) {
  h1,
  h2 {
    font-size: 23px;
    margin: 35px 0;
    @include media-breakpoint-up(md) {
      font-size: 25px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 35px;
      margin: 20px 0;
    }
    @include media-breakpoint-up(xl) {
      font-size: 50px;
      margin: 35px 0;
    }
  }
}

.mobile-image {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.desktop-image {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

/* TEAM ----------------------------------------------*/

.team-member {
  a {
    display: block;
    height: 77vw;
    img {
      opacity: 0.8;
    }

    @include media-breakpoint-up(md) {
      height: 39vw;
    }
    @include media-breakpoint-up(lg) {
      height: 26vw;
    }
    &:hover {
      opacity: 1;
      .details {
        opacity: 1;
      }
    }
  }
  .details {
    position: absolute;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    display: flex;
    opacity: 0;
    background: $brand-highlight-bg;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s $ease-in-out-custom;
    & > * {
      margin: 0;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.single-team {
  position: relative;
  .team-page-container {
    padding-top: 74px;
    @include media-breakpoint-up(md) {
      padding-top: 130px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 140px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 230px;
    }
  }
  .team-social {
    margin-top: 35px;
    font-size: 12px;
    li {
      display: inline-block;
      margin-right: 25px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 14px;
      li {
        margin-right: 40px;
      }
    }
  }
}

.team-swiper {
  overflow: visible;
  position: relative;
  opacity: 0;
  transition: 0.3s $ease-in-out-custom;
  &.swiper-container-initialized {
    opacity: 1;
    & + .swiper-button-prev {
      opacity: 1;
      & + .swiper-button-next {
        opacity: 1;
      }
    }
  }

  width: 178vw;
  transform: translateX(-22.5%);

  margin-bottom: 140px;
  margin-top: 75px;
  @include media-breakpoint-up(md) {
    width: 154vw;
    transform: translateX(-18.7%);
    margin-bottom: 115px;
    margin-top: 130px;
  }

  @include media-breakpoint-up(lg) {
    width: 145vw;
    margin-bottom: 100px;
    margin-top: 140px;
    transform: translateX(-17.5%);
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 74px;
    margin-top: 230px;
    transform: translateX(-18%);
  }

  h1,
  h2 {
    margin-top: 50px;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 50px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 60px;
    }

    & + p {
      margin-top: -5px;
      margin-bottom: 45px;
    }
  }
  .img-wrapper {
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      margin: 0px 8px;
    }
  }
  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    img {
      filter: blur(0);
      opacity: 1;
    }
    .team-member-info {
      opacity: 1;
    }
  }
  .team-member-info {
    opacity: 0;
    transition: 0.5s $ease-in-out-custom;
    p {
      font-size: 14px;
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
      // @include media-breakpoint-up(xl) {
      //   font-size: 24px;
      // }
    }
  }
  img {
    width: 100%;
    opacity: 0.2;
    filter: blur(25px);
    display: block;
    transition: 0.5s $ease-in-out-custom;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-image: url("../../assets/img/arrow-sm.svg");
  position: absolute;
  top: 40vw;
  width: 16px;
  height: 10px;

  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s $ease-in-out-custom;

  &:focus {
    outline: none;
  }
  @include media-breakpoint-up(md) {
    background-image: url("../../assets/img/arrow-swiper.svg");
    width: 46px;
    height: 25px;
    top: 28vw;
  }
  @include media-breakpoint-up(lg) {
    top: 23.5vw;
    width: 46px;
    height: 25px;
  }
  @include media-breakpoint-up(xl) {
    top: 25.5vw;
  }
}
.swiper-button-prev {
  transform: rotate(180deg);
  left: 6px;
  @include media-breakpoint-up(md) {
    left: 7%;
  }
  @include media-breakpoint-up(lg) {
    left: 15%;
  }
}
.swiper-button-next {
  right: 6px;
  @include media-breakpoint-up(md) {
    right: 7%;
  }
  @include media-breakpoint-up(lg) {
    right: 15%;
  }
}

#main {
  overflow-x: hidden;
}

/* Homepage ----------------------------------------------*/
.graph-section {
  padding-bottom: 100px;
  @include media-breakpoint-up(xl) {
    padding-bottom: 165px;
  }

  > div {
    max-width: 1460px;
  }
  h2 {
    margin-top: 50px;
    @include media-breakpoint-up(md) {
      margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 168px;
    }
  }

  img {
    width: 100%;
    margin: 60px auto 60px;

    @include media-breakpoint-up(md) {
      margin: 70px auto 70px;
    }
    @include media-breakpoint-up(lg) {
      margin: 80px auto 100px;
    }
    @include media-breakpoint-up(xl) {
      margin: 90px auto 180px;
    }
  }
}
.grid-page-container {
  h1 {
    margin-top: 0;
  }
}

.fund-i-companies {
  margin-top: 95px;
}
.portfolio-section {
  background-size: 100%;
  height: 46vw;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
  & > * {
    color: #fff;
  }
  @include media-breakpoint-down(sm) {
    height: 66vw;
  }

  img {
    filter: grayscale(1) brightness(99);
    display: block;
    width: 30vw;
    min-width: 200px;
  }
  .video-wr {
    position: absolute;
    top: 0;
  }
  .layer-1 {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .video-portfolio {
    min-height: 60vw;
  }
  .pill-light {
    margin: 20px 0 65px;
    display: inline-block;
    @include media-breakpoint-up(md) {
      margin: 30px 0 70px;
    }
    @include media-breakpoint-up(lg) {
      margin: 40px 0 90px;
    }
    @include media-breakpoint-up(xl) {
      margin: 65px 0 160px;
    }
  }
}
.portfolio-filter-item {
  &:first-of-type {
    .portfolio-header {
      margin-top: 0;
    }
  }
}
.quote {
  @extend h1;

  padding-top: 116px;
  padding-bottom: 116px;

  @include media-breakpoint-up(md) {
    padding-top: 163px;
    padding-bottom: 168px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 160px;
    padding-bottom: 150px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 240px;
    padding-bottom: 234px;
  }

  p {
    margin: 0;
  }
  .signature {
    font-size: 12px !important;
    margin: 37px 0 0;
    @include media-breakpoint-up(md) {
      margin: 17px 0 0;
    }
    @include media-breakpoint-up(lg) {
      margin: 20px 0 0;
    }
    // @include media-breakpoint-up(xl) {
    //   margin: 30px 0 0;
    //   font-size: 24px !important;
    // }
  }
}

.portfolio-filter {
  display: flex;
  color: $brand-medium-dark;
  li {
    cursor: pointer;
    padding: 10px 0;
    width: 50%;
    border-bottom: 1px solid $brand-medium-dark;
    max-width: 176px;
    @include media-breakpoint-up(xl) {
      max-width: 260px;
    }

    &.active {
      border-bottom-color: #fff;
      color: #fff;
    }
  }
}
.portfolio-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-items-container {
  opacity: 0;
  transition: 0.2s $ease-in-out-custom 0.2s;
  position: relative;
  &.visible {
    opacity: 1;
  }

  &:before,
  &:after {
    content: " ";
    z-index: 9;
    position: absolute;
    left: 0;
    height: 100%;
    background: $brand-dark;
    width: 1px;
  }
  &:after {
    right: 0;
    left: auto;
  }
}

.portfolio-header,
.uncategorized-filter {
  margin-top: 130px;
  @include media-breakpoint-down(md) {
    font-size: 20px;
    margin-top: 128px;
  }
}
.portfolio-item {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s $ease-in-out-custom;
  .highlight {
    position: absolute;
    right: 15px;
    top: 10px;
    color: $brand-highlight;
  }
  .name {
    display: none;
  }
  .subtitle {
    font-size: 14px;
    line-height: 1.5em;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
  border: 1px solid $brand-medium-dark;
  margin-right: -1px;
  // margin-bottom: -1px;

  .portfolio-logo {
    filter: grayscale(1) brightness(99);
    display: block;
    max-width: 75%;
    max-height: 30%;
    height: auto;
    @include media-breakpoint-up(md) {
      max-width: 65%;
      max-height: 20%;
    }
  }
  .portfolio-logo-hover {
    display: none;
  }
  &.active {
    .portfolio-expandable {
      display: block;
      left: 0;
      top: 0;
      background: #fff;
      height: 100%;
      overflow-y: scroll;
      @include media-breakpoint-up(lg) {
        width: 50vw;
      }
      .d-flex {
        height: 100%;
      }
      a {
        color: #999999;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $brand-medium-dark;
        }
      }
      .company-stats {
        .status-pill {
          background: #f1f1f1;
          padding: 2px 16px 3px;
          border-radius: 50px;
        }
      }
      .description {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        @include media-breakpoint-up(lg) {
          font-size: 18px;
          line-height: 26px;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        @include media-breakpoint-up(xl) {
          font-size: 18px;
          line-height: 26px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
    &.info-right {
      .portfolio-expandable {
        left: auto;
        right: 0;
      }
    }
  }
  .popup-close {
    position: absolute;
    top: 35px;
    right: 25px;
    @include media-breakpoint-up(lg) {
      width: 10px;
      height: 10px;
      top: 38px;
      right: 45px;
    }
    // @include media-breakpoint-up(xl) {
    //   top: 85px;
    //   right: 90px;
    // }
    &:after,
    &:before {
      background-color: #000;
    }
  }

  @include media-breakpoint-up(md) {
    width: calc(25% + 1px);
    height: 25vw;
  }

  &:hover {
    @include media-breakpoint-up(md) {
      background-color: #fff;
      color: $brand-medium-dark;
      .portfolio-thumb-description {
        max-height: 11vw;
      }
    }
    @include media-breakpoint-only(md) {
      background-color: #fff;
      color: $brand-medium-dark;
      .portfolio-thumb-description {
        max-height: 16vw;
      }
    }
    .portfolio-logo {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    .portfolio-logo-hover {
      display: block;
      max-width: 75%;
      max-height: 30%;
      height: auto;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      @include media-breakpoint-up(md) {
        max-width: 65%;
        max-height: 20%;
      }
    }
  }
  .portfolio-thumb-description {
    max-height: 0;
    overflow: hidden;
    max-width: 65%;
    transition: 0.6s $ease-in-out-custom;
  }

  .portfolio-expandable {
    display: none;
    position: fixed;
    z-index: 9;
    padding: 80px 20px;
    width: 100%;
    text-align: left;
    color: #666;

    @include media-breakpoint-up(md) {
      padding: 80px 50px;
    }

    img {
      max-width: 50%;
      max-height: 10%;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px 55px 30px 40px;
      position: absolute;
      z-index: 1;
      img {
        max-width: 120px;
        max-height: 90px;
      }

      cursor: auto;
    }
    @include media-breakpoint-up(xl) {
      padding: 80px 160px 80px 65px;
    }
    .highlight-expanded {
      position: absolute;
      top: 10px;
      right: 70px;
      text-align: right;
    }
  }
}

.portfolio-item {
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
  }
}

.portfolio-item:hover {
  .st0 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
  }
  a {
    opacity: 1;
  }
}

.portfolio-item.job-item,
.portfolio-item.news-item {
  @include media-breakpoint-up(md) {
    .portfolio-thumb-description {
      max-height: 0;
      transition: 0.3s $ease-in-out-custom;
    }
  }
}

.portfolio-item.job-item:hover {
  @include media-breakpoint-up(md) {
    .portfolio-thumb-description {
      max-height: 40px;
    }
  }
}

.portfolio-item.news-item:hover {
  @include media-breakpoint-up(md) {
    .portfolio-thumb-description {
      max-height: 5vw;
    }
  }
}

.job-item {
  .name {
    transition: 0.3s $ease-in-out-custom;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.page-template-page-disclaimer {
  h1,
  h2 {
    margin: 110px 0 25px;
    font-size: 25px;
    @include media-breakpoint-up(md) {
      margin: 200px 0 20px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
    @include media-breakpoint-up(xl) {
      margin: 290px 0 60px;
      font-size: 50px;
    }
  }
}

.job-description,
.article-description {
  position: relative;
  width: 178vw;
  max-width: 1000px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  margin-top: 75px;
  @include media-breakpoint-up(md) {
    width: 154vw;
    margin-bottom: 115px;
  }
  @include media-breakpoint-up(lg) {
    width: 145vw;
    margin-bottom: 100px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 74px;
  }
  h3 {
    line-height: 1.5;
  }
  .date {
    color: $brand-medium;
  }
}

.section-info {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.arrow-left {
  padding-top: 140px;
  display: flex;
  z-index: 3;
  align-items: center;
  img {
    margin-left: 5px;
    margin-right: 20px;
    width: 20px;
    display: block;
    transform: rotate(90deg);
  }
}

.article-image {
  width: 100%;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    height: 40vw;
  }
  @include media-breakpoint-up(md) {
    height: 35vw;
  }
  @include media-breakpoint-up(lg) {
    height: 25vw;
  }

  img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.articles {
  margin-top: 5rem;
  h3 {
    line-height: 1.5;
  }
  .pill {
    margin-bottom: 10px;
  }
  .portfolio-item {
    min-height: 30vw;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    padding: 0.5rem 3rem;
    transition: 0.6s $ease-in-out-custom;
    .date {
      color: $brand-medium;
    }
    &:hover {
      background: $brand-highlight-bg;
      opacity: 1;
      .date {
        color: #fff;
      }
      p,
      h3 {
        color: #fff;
      }
    }
  }
  .subtitle {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.4em;
    line-height: 1.5em;
  }
  @media screen and (max-width: 1189px) {
    .subtitle {
      display: none;
    }
    .subtitle.date {
      display: block;
    }
  }
}

.grid-page-container {
  .container-fluid,
  .portfolio-items-container {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.page-title {
  padding-top: 127px;
  padding-left: 0;
  @include media-breakpoint-up(md) {
    padding-top: 113px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 150px;
  }
}

.post-type-archive-jobs {
  background-color: #121212;
}

.page-template-page-news .grid-page-container {
  min-height: 80vh;
  p {
    line-height: 1.5;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}

.job-description {
  li {
    opacity: 0.6;
    list-style-type: circle;
    margin-left: 1.4rem;
    @include media-breakpoint-down(sm) {
      margin-left: 2.5rem;
    }
  }
  strong {
    opacity: 1;
  }
}

.portfolio-items-container.visible.job-cat {
  margin-top: 130px;
  transition: none;
  @include media-breakpoint-down(md) {
    margin-top: 128px;
  }
}
.portfolio-item.job-item {
  transition: none;
  &:hover {
    transition: 0.3s $ease-in-out-custom;
  }
}

.post-type-archive-jobs #main::-webkit-scrollbar {
  display: none;
}

.job-card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  .job-card-content,
  .portfolio-thumb-description {
    margin: auto;
  }
}

.values {
  padding-top: 116px;
  padding-bottom: 116px;

  @include media-breakpoint-up(md) {
    padding-top: 163px;
    padding-bottom: 168px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 160px;
    padding-bottom: 150px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 190px;
    padding-bottom: 187px;
  }
  .values-single {
    margin-bottom: 21px;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
    }
    h4 {
      color: $brand-highlight;
      margin-bottom: 8px;
    }
    p {
      color: #000;
    }
    .arrow-values img {
      padding-bottom: 2px;
      height: 0.7em;
    }
    .value-wrapper {
      max-width: 80%;
    }
  }
}

.media-item {
  padding: 0 !important;
  transition: 0.3s ease-in-out;

  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: -1px;

  @include media-breakpoint-up(md) {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: -1px;
    border-right: 1px solid #000;
    &:nth-child(2n) {
      border-right: 0px;
    }
  }
  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: -1px;
    border-right: 1px solid #000;
    &:nth-child(2n) {
      border-right: 1px solid #000;
    }
    &:nth-child(3n) {
      border-right: 0px;
    }
  }

  .btn-pill {
    border-radius: 50px;
    border: 1px solid #000;
    padding: 3px 20px;
  }
  .featured-image {
    height: 290px;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      position: absolute;
      inset: auto;
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .author-image {
    max-width: 120px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
  .title {
    margin: 8px 0px;
  }
  .author,
  .date {
    margin: 0;
  }
  .excerpt {
    margin-top: 8px;
  }
  .media-info {
    padding: 30px 20px;
    @include media-breakpoint-up(md) {
      padding: 30px 30px;
    }
    @include media-breakpoint-up(lg) {
      padding: 39px 50px;
    }
    @include media-breakpoint-up(xl) {
      padding: 39px 50px;
    }
  }
}

.media-single {
  .back-arrow {
    height: 0.7em;
  }
  article {
    max-width: 880px;
    margin: 80px auto 180px auto;
    .author-image {
      max-width: 120px;
      max-height: 40px;
      width: auto;
      height: auto;
    }
    .featured-image {
      margin: 70px 0px;
    }
    img {
      width: 100%;
      height: auto;
    }
    .post-content {
      p {
        margin-bottom: 30px;
      }
      img {
        margin-top: 40px;
        margin-bottom: 70px;
      }
    }
  }
}

.testimonial-item {
  padding: 45px 40px;
  height: 30vh;
  width: 100%;

  border: 1px solid $brand-medium-dark;
  .picture {
    width: 80px;
    height: 80px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: auto;
      object-fit: cover;
      object-position: center;
    }
  }
  .about {
    .name {
      color: #fff;
      margin-top: 0;
      margin-bottom: 8px;
      line-height: 100%;
    }
    .role {
      color: #888888;
      margin: 0;
      line-height: 100%;
    }
  }
  .text {
    color: #fff;
  }
}

.testimonial-expandable {
  display: none;
}

.bg-dark {
  background: $brand-dark;
  color: #fff;
}

.testimonials-page {
  min-height: 100vh;
  .portfolio-items-container {
    opacity: 1;
    .portfolio-item {
      display: block;
      padding: 20px;
      text-align: left;

      @include media-breakpoint-up(md) {
        width: calc(50% + 1px);
        min-height: 25vw;
        padding: 20px;
      }

      @include media-breakpoint-up(xl) {
        width: calc(25% + 1px);
        min-height: 25vw;
        padding: 50px;
      }

      .person-meta {
        display: flex;
        p {
          line-height: 140%;
          margin: auto;
          .role {
            color: #888888;
          }
        }
      }
      .picture {
        height: 80px;
        width: 80px;
        position: relative;
        overflow: hidden;
        .profile-picture {
          width: 100%;
          height: 100%;
          position: absolute;
          inset: auto;
          object-position: center;
          object-fit: cover;
        }
      }
      .portfolio-expandable {
        padding: 20px;
        @include media-breakpoint-up(md) {
          padding: 20px;
        }

        @include media-breakpoint-up(xl) {
          padding: 50px;
        }
        img {
          max-width: none;
          max-height: none;
        }
      }
    }
  }
}

.portfolio-filter-wrapper {
  .filter-pill {
    border: 1px solid white;
    border-radius: 50px;
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover,
    &.active {
      background: #fff;
      color: $brand-dark;
    }
  }
  .tax-pills-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.text-brand-color {
  color: $brand-highlight;
}

.clear-filters {
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  svg {
    height: 2em;
    vertical-align: middle;
    margin-bottom: 1px;
  }
}

.portfolio-pill-filters {
  margin-bottom: 80px;
}
