@font-face {
  font-family: "Beatrice";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../assets/fonts/Beatrice-Thin.woff2?v=3.12") format("woff2"),
    url("../../assets/fonts/Beatrice-Thin.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Beatrice";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../assets/fonts/Beatrice-Light.woff2?v=3.12") format("woff2"),
    url("../../assets/fonts/Beatrice-Light.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Unica";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../assets/fonts/unica-light.woff2?v=3.12") format("woff2"),
    url("../../assets/fonts/unica-light.woff?v=3.12") format("woff");
}

.font-1 {
  font-size: 25px;
  font-weight: 100;
  @include media-breakpoint-up(md) {
    font-size: 35px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 45px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 90px;
  // }
}

.font-2 {
  font-size: 25px;
  font-weight: 100;
  @include media-breakpoint-only(md) {
    font-size: 35px;
  }
  @include media-breakpoint-only(lg) {
    font-size: 45px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 72px;
  // }
}

.font-3 {
  font-size: 23px;
  font-weight: 200;
  @include media-breakpoint-only(md) {
    font-size: 20px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 50px;
  // }
}

.font-4 {
  font-size: 23px;
  font-weight: 200;
  @include media-breakpoint-only(md) {
    font-size: 20px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 40px;
  // }
}

.font-5 {
  font-size: 18px;
  font-weight: 200;
  @include media-breakpoint-only(md) {
    font-size: 16px;
  }
  @include media-breakpoint-only(lg) {
    font-size: 18px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 23px;
  // }
}

.button {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.9;
  font-family: "Unica";
  @include media-breakpoint-only(md) {
    font-size: 14px;
  }
  @include media-breakpoint-only(lg) {
    font-size: 14px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 24px;
  // }
}

.article-headlines {
  font-size: 23px;
  font-weight: 200;
  @include media-breakpoint-up(md) {
    font-size: 35px;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 50px;
  // }
}

h1,
h2,
h3,
h4,
h5 .h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $heading-font;
  width: 100%;
  line-height: 1.2;
}
h1,
.h1 {
  @extend .font-1;
}

h2,
.h2 {
  @extend .font-2;
}

h3,
.h3 {
  @extend .font-3;
}

h4,
.h4 {
  @extend .font-4;
}

h5,
.h5 {
  @extend .font-5;
}

h6,
.h6 {
  font-family: $body-font;
  line-height: 1.6;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 0;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 1.9em;
  }
  // @include media-breakpoint-up(xl) {
  //   font-size: 24px;
  // }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.font-unica {
  font-family: "Unica";
}
