$grid-breakpoints: (
  xs: 0, // mobile
  sm: 376px, // tablet
  md: 768px, // desktop (small)
  lg: 1024px, // desktop (common)
  xl: 1920px // desktop (big screens)
);

$container-max-widths: (
        sm: 768px,
        md: 1024px,
        lg: 1600px,
        xl: 1700px
);



$line-height: 1.45;

$gutter: .5rem;

$heading-font: "Beatrice", sans-serif;
$body-font: "Unica", sans-serif;

$brand-dark: #121212;
$brand-medium-dark: #464646;
$brand-medium: #aaa;
$brand-light: #EDEDED;
$brand-lighter: #F6F6F6;
$brand-highlight: #4770E8;
$brand-highlight-bg: rgba(71,112,232,.8);

$ease-in-out-custom: cubic-bezier(0.015, 0.445, 0.305, 0.990);